<div class="row">
  <div class="col-md-6">
    <h3>8 juni (lokaal Heinsius)</h3>
    <table class="table table-striped">
      <tr> <td>Vooraf</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td> </tr>
      <tr> <td>09:00</td>  <td>Jargon Busting, A Computational Approach, Introduction to Working with Data</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>13:00</td>  <td>Tidy spreadsheets</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>EINDE</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>9 juni (lokaal Vossius)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>The Unix shell</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>13:00</td>  <td>OpenRefine</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
