<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Jargon Busting, A Computational Approach, Introduction to Working with Data</h3>
    <ul>
      <li>Jargon busting</li>
      <li>A computational approach</li>
      <li>Introduction to Working with Data &amp; Regular Expressions</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and Directories</li>
      <li>History and Tab Completion</li>
      <li>Counting and Sorting Contents in Files</li>
      <li>Pipes and Redirection</li>
      <li>Mining or Searching in Files</li>
      <li>Reference</li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Tidy data</h3>
    <ul>
      <li>Using spreadsheet programs for data wrangling</li>
      <li>Formatting data tables in spreadsheets</li>
      <li>Formatting problems</li>
      <li>Dates as data</li>
      <li>Basic quality assurance and control, and data manipulation in spreadsheets</li>
      <li>Exporting data from spreadsheets</li>
      <li>Caveats of popular data and file formats</li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-openrefine">OpenRefine</h3>
      <ul>
        <li>Introduction to OpenRefine</li>
        <li>Importing Data</li>
        <li>Basic Functions</li>
        <li>Advanced Functions</li>
        <li>Reference</li>
      </ul>
    </div>
  </div>
</div>
